.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gradient::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  width: 100%;
  height: 682px;
  left: -11px;
  top: 0px;

  background:
    radial-gradient(
      82.76% 80.25% at 100% -4.48%,
      #c1ddcc 100%,
      rgba(193, 221, 204, 0) 0%
    ),
    radial-gradient(
        94.84% 318.63% at 100% -4.48%,
        rgba(104, 119, 110, 0.24) 0%,
        rgba(175, 200, 185, 0.84338) 62.16%,
        #c1ddcc 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  z-index: 2;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
